.context-menu {
    position: fixed;
    text-align: center;
    background: rgba(56, 56, 56, 0.529);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 5px;
    z-index: 499;
    width: max-content;
}

.context-menu ul {
    padding: 5px 10px;
    margin: 0px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 5px;
}

.context-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    padding: 0 5px;
}

.context-menu ul li a img {
    width: 20px;
}

.context-menu ul li:hover {
    background: rgba(169, 169, 169, 0.301);
}