@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --desktop-background: url(../assets/bg1.png);
  --font-size: 16px;
  --icon-size: 40px;
  --heading: 900;
  --text: 200;
  --title: 400;
}

body {
  background: #000;
}

h1 {
  font-weight: var(--heading);
}

p {
  font-weight: var(--text);
  font-size: 16px;
}

#date {
  color: #ff2a5f;
}

.desktop {
  background: var(--desktop-background);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.desktop .apps {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
}

.desktop .apps .app {
  width: 100%;
  height: 100%;
  position: absolute;
  resize: both;
}

.desktop .apps .app iframe {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0;
}

.desktop .apps .app.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.desktop .apps .app.main h1 {
  font-size: 85px;
}

.desktop .apps .app.main span {
  position: relative;
  margin-top: -40px;
}

.desktop .apps .app.main span p {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  text-transform: uppercase;
  font-weight: var(--title);
}

.desktop .apps .app.main span h1 {
  opacity: 20%;
  font-size: 85px;
}

.desktop .bar {
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.desktop .bar ul li.no-hover img {
  transform: translateY(0px);
  padding: 2px;
}

.desktop .bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 249, 249, 0.114);
  padding: 10px;
  margin: 5px;
  gap: 15px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.desktop .bar ul li {
  width: 30px;
  height: 30px;
  overflow: hidden;
  list-style: none;
}

.desktop .bar ul li.select {
  overflow: visible;
  transition: 0.1s all ease-in-out;
  border-bottom: 3px solid rgba(18, 255, 156, 0.503);
}

.desktop .bar ul li.select img {
  transform: translateY(-10px);
  transition: 0.1s all ease-in-out;
}

.desktop .bar .screen li.select {
  overflow: visible;
  transition: 0.1s all ease-in-out;
  border-bottom: 0px solid rgba(18, 255, 156, 0.503);
}

.desktop .bar .screen li.select img {
  transform: translateY(0px);
  transition: 0.5s all ease-in-out;
}

.desktop .bar ul li img {
  width: 30px;
}

.desktop .bar ul input {
  width: 270px;
  padding: 5px;
  background: transparent;
  outline: none;
  color: rgb(211, 211, 211);
}

.desktop .bar .fullscreen .fullscreen {
  display: block;
}

.desktop .bar .fullscreen .smallscreen {
  display: none;
}

.desktop .bar .smallscreen .fullscreen {
  display: none;
}

.desktop .bar .smallscreen .smallscreen {
  display: block;
}

.app-list img {
  cursor: pointer;
}

@media (width < 450px) {
  .desktop .bar ul {
    display: none;
  }

  .desktop .bar .app-list {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */