@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --padding: 20px;
  /* --padding: 20px; */

  --mainBG: #181519;
}

/* @media screen and (max-width: 720px) {
  :root {
    --padding: 25px;
  }
} */

ul {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--mainBG);
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}

/* header starts */

#header {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding);
  border-bottom: 0.126px solid rgba(255, 255, 255, 0.512);
}

@media screen and (max-width: 768px) {
  #header {
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  #header {
    height: 40px;
  }
}

/* controls */

#header #controls {
  display: flex;
  height: 100%;
  gap: 20px;
  align-items: center;
}

#header #controls #left,
#header #controls #right,
#header #controls #reload {
  height: 24px;
  cursor: pointer;
}

#header #controls #reload {
  height: 19px;
}

#header #controls #left img,
#header #controls #right img,
#header #controls #reload img,
#header #paths #path #pth img {
  height: 100%;
  filter: invert(1);
}

/* navigator and search bar */

#header #navigator {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

#header #navigator #path,
#header #navigator #pathInput,
#header #searchBar {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.126);
  display: none;
  overflow: hidden;
  align-items: center;
  padding: 0 15px;
  gap: 10px;
  color: white;
}

#header #navigator #path {
  overflow-y: hidden;
  overflow-x: scroll;
}

#header #navigator #path::-webkit-scrollbar {
  display: none;
}

#header #navigator #path img {
  height: 10px;
  filter: invert(1);
}

#header #navigator #path span {
  padding: 3px 10px;
  border-radius: 10px;
}

#header #navigator #path span:hover {
  background: rgba(255, 255, 255, 0.126);
}

#header #navigator #path.active,
#header #navigator #pathInput.active {
  display: flex;
}

#header #navigator #pathInput input,
#header #searchBar input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
}

#header #navigator #pathInput input::placeholder,
#header #searchBar input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#header #searchBar {
  display: flex;
  width: 25%;
}

@media screen and (max-width: 950px) {
  #header #navigator #path,
  #header #navigator #pathInput,
  #header #searchBar {
    height: 35px;
  }
}

@media screen and (max-width: 800px) {
  #header #searchBar {
    display: none;
  }
  #header #navigator {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  #header #navigator #path,
  #header #navigator #pathInput,
  #header #searchBar {
    height: 35px;
  }
}

@media screen and (max-width: 480px) {
  #header #navigator #path,
  #header #navigator #pathInput,
  #header #searchBar {
    height: 30px;
  }
}

/* header ends */

/* file manager starts */

#fileManager {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 var(--padding); */
  color: white;
}

@media screen and (max-width: 768px) {
  #fileManager {
    height: calc(100vh - 50px);
  }
}

@media screen and (max-width: 480px) {
  #fileManager {
    height: calc(100vh - 40px);
  }
}

#sidebar {
  width: 200px;
  height: 100%;
  background: black;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#sidebar #drives,
#sidebar #drives ul,
#sidebar #actionCenter,
#sidebar #actionCenter ul {
  width: 100%;
  height: max-content;
}

#sidebar #drives ul,
#sidebar #actionCenter ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar #drives ul li,
#sidebar #actionCenter ul li {
  display: flex;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  padding: 5px var(--padding);
}

#sidebar #drives ul li[heading],
#sidebar #drives ul li[heading]:hover,
#sidebar #drives ul li[line]:hover {
  cursor: default;
  background: transparent;
}

#sidebar #drives ul li[line] hr,
#sidebar #actionCenter ul li[line] hr {
  width: 100%;
  border: 0.001px solid rgba(255, 255, 255, 0.512);
}

#sidebar #drives ul li.active,
#sidebar #drives ul li:hover {
  background: rgba(255, 255, 255, 0.126);
}

#sidebar #drives ul li img,
#sidebar #actionCenter ul li img {
  width: 16px;
  aspect-ratio: 1/1;
}

#sidebar #drives ul li p,
#sidebar #actionCenter ul li p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 200;
}

#sidebar #drives ul li h3,
#sidebar #actionCenter ul li h3 {
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: 400;
}

/* file manager ends */
